//CLASSES
@import "mixings-and-data.scss";
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.width100{width:100%;}
.height100{height: 100%;}
.block{display: block;}
.inline-block{display: inline-block;}
.v-align-wrapper{display:table;}
.v-align{display: table-cell; vertical-align: middle;}
.text-center{text-align:center;}
.inline-list li{display:inline-block;}
.relative{position: relative;}
.wait{cursor:wait !important;}
.middle{margin: 0 auto;}
.removing{
	opacity:.6;
	&, *{cursor: wait !important;}
	*{pointer-events: none !important;}
}
.input-placeholder{
	&:before{
		content: "";
		opacity:0;
		pointer-events:none;
		transition:opacity .4s ease;
	}		
	&:empty{
		&:before{ content: attr(data-placeholder); opacity:1; }
	}
}

.action-button{
	cursor:pointer;
	@include noSelection();
	&.press-effect{
		transform: scale3d(1,1,1);
		transform-origin: center center;
		transition: all .3s ease-out;
		&:active{transform: scale3d(.97,.97,.97);}
	}	
}


.default-mouse-over{
	transform: translate3d(0px,0px,0px);
	transition:opacity 0.35s ease;
	&:hover{opacity: .75;}
	&:active{opacity: .5;}
}
.background-contain{
	-webkit-background-size: contain !important;
	-moz-background-size: contain !important;
	-o-background-size: contain !important;
	background-size: contain !important;		
}
.background-cover{
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}	
.pre-tag{
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */		
}
.no-selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;		
}

