//FONT-FAMAILIES
$displayFontBold: 'ralewaybold';
$displayFontRegular: 'ralewayregular';
$textFont: 'latoregular';
$iconFont: 'ss-standard';
$fontPath: '../fonts/';
$imagePath: '../../images/';

$defaultFontColor: #bababa;
$backgroundColor: #151515;

$menuHeaderHeight: 96px;

@font-face {
    font-family: $textFont;
    src: url($fontPath + 'lato-regular-webfont.eot');
    src: url($fontPath + 'lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontPath + 'lato-regular-webfont.woff2') format('woff2'),
         url($fontPath + 'lato-regular-webfont.woff') format('woff'),
         url($fontPath + 'lato-regular-webfont.ttf') format('truetype'),
         url($fontPath + 'lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: $displayFontBold;
    src: url($fontPath + 'raleway-bold-webfont.eot');
    src: url($fontPath + 'raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontPath + 'raleway-bold-webfont.woff2') format('woff2'),
         url($fontPath + 'raleway-bold-webfont.woff') format('woff'),
         url($fontPath + 'raleway-bold-webfont.ttf') format('truetype'),
         url($fontPath + 'raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: $displayFontRegular;
    src: url($fontPath + 'raleway-regular-webfont.eot');
    src: url($fontPath + 'raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontPath + 'raleway-regular-webfont.woff2') format('woff2'),
         url($fontPath + 'raleway-regular-webfont.woff') format('woff'),
         url($fontPath + 'raleway-regular-webfont.ttf') format('truetype'),
         url($fontPath + 'raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: $iconFont;
    src: url($fontPath + 'ss-standard.eot');
    src: url($fontPath + 'ss-standard.eot?#iefix') format('embedded-opentype'),
         url($fontPath + 'ss-standard.woff') format('woff'),
         url($fontPath + 'ss-standard.ttf') format('truetype'),
         url($fontPath + 'ss-standard.svg#ss-standard') format('svg');
    font-weight: normal;
    font-style: normal;
}


//FUNCTIONS
@mixin noSelection(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin angularFade($targetOpacity: 1){
	&.ng-enter{
		opacity:0;
	}
	&.ng-enter-active{
		opacity:$targetOpacity;
	}
	&.ng-leave{
		opacity:$targetOpacity;
	}
	&.ng-leave-active{
		opacity:0;
	}	
}

@mixin absoluteCenter($width, $height) {
	position:absolute;
	width: $width;
	height: $height;
	top:50%;
	left:50%;
	margin-top: -($height / 2) ;
	margin-left: -($width / 2) ;
}

@mixin circle($size) {
	height: $size;
	width: $size;
	border-radius: $size;	
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 
