@import "mixings-and-data.scss";
@media screen and (max-width: 1024px){
	article .middle{
		width: 100%
	}
	.menu-header{
		padding: 0 5% 0 3%;
		.middle{
			width: 100%
		}
	}
}

@media screen and (max-width: 930px){
	.section-title{font-size: 52px;}
	.section-description{font-size: 30px;margin-top: 0;}
	#hello{
		.hello-menu{
			$size: 150px;
			margin-top: 40px;
			.menu-button{
				width: $size;
			}
			.ellipse{
				width: $size;
				height: $size;
				font-size: 70px;
			}
		}
	}
}

@media screen and (max-width: 690px){
	#contact{
		.logo{
			margin:0 0 15px 7px;
			height: 110px;
			width: 110px;
		}
		.info{
			.text{
				font-size: 14px;
				padding-left: 6px;
			}
		}
	}
	#projects{
		$size: 120px;
		$margin: 10px;
		$width: (($size + $margin) * 4);
		$openedHeight: 300px;
		.projects-wrapper{
			width: $width;
			height:$size;
			&.project-opened{
				height:$openedHeight;
			}
		}
		.projects-row{
			width: $width;
			.second{left: $size + $margin;}
			.third{left: (($size + $margin) * 2);}
			.fourth{left: (($size + $margin) * 3);}
		}
		.project{
			@include circle($size);
			.opened-content{
				width: $width;
				height: $openedHeight;
			}
			.info-row{
				.title{font-size: 19px;}
				.text{
					font-size: 13.5px;
					line-height: 18px;					
				}
				&:not(:last-child){margin-bottom: 10px;}
			}
	    }
	}
}

@media screen and (max-width: 600px){
	.section-title{font-size: 44px;}
	.section-description{font-size: 25px;}
	#hello{
		.hello-menu{
			$size: 130px;
			margin-top: 30px;
			.menu-button{
				width: $size;
			}
			.ellipse{
				width: $size;
				height: $size;
				font-size: 60px;
			}
		}
	}
	#contact{
		.logo{
			margin:0 0 15px 0;
			height: 90px;
			width: 90px;
		}
		.form{
			.title{font-size: 28px;}
			.description{font-size: 18px; margin:7px 0 20px 0;}
			.input-wrapper{
				textarea{height: 120px;}
			}
		}
		.info{
			.text{
				font-size: 12px;
				padding-left: 0px;
			}
		}
	}
}