<article id="contact" data-ng-show="mainController.pageLoaded">
	<div class="middle v-align-wrapper height100">
		<div class="v-align">
			<div class="section-title" data-ng-bind="mainController.texts.contact.titleText"></div>
			<div class="form-wrapper">
				<div class="form left v-align-wrapper">
					<div class="v-align">
						<div class="title" data-ng-bind="mainController.texts.contact.formTitleText"></div>
						<div class="description" data-ng-bind="mainController.texts.contact.formDescriptionText"></div>
						<div class="input-wrapper">
							<input type="text" placeholder="{{mainController.texts.contact.nameFieldPlaceholder}}" data-ng-model="contactController.name">
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Email" data-ng-model="contactController.email">
						</div>
						<div class="input-wrapper">
							<textarea placeholder="{{mainController.texts.contact.messageFieldPlaceholder}}" data-ng-model="contactController.message"></textarea>
						</div>
						<div class="input-wrapper">
							<div class="send-button right" data-ng-click="contactController.sendEmail()">
							    <div class="lines-wrapper">
							        <div class="line top"></div>
							        <div class="line right"></div>
							        <div class="line bottom"></div>
							        <div class="line left"></div>        
							    </div>
							    <div class="button-face">
							        <span data-ng-bind="mainController.texts.contact.buttonText"></span>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info left v-align-wrapper">
					<div class="v-align">
						<div class="logo"></div>
						<a href="mailto:rafaelv@cacho.la" class="info block default-mouse-over">
							<div class="icon left">
								<div class="v-align-wrapper height100 width100">
									<div class="v-align ss-icon ss-mail"></div>
								</div>
							</div>
							<div class="text left v-align-wrapper height100">
								<div class="v-align">
									<span>rafaelv@cacho.la</span>
								</div>
							</div>
						</a>
						<a href="skype:rafael141288?chat" class="info block default-mouse-over">
							<div class="icon left">
								<div class="v-align-wrapper height100 width100">
									<div class="v-align">
										<img src="images/skype.png" alt="rviolato skype logo">
									</div>
								</div>							
							</div>
							<div class="text left v-align-wrapper height100">
								<div class="v-align">
									<span>rafael141288</span>
								</div>
							</div>
						</a>
						<div class="info">
							<div class="icon left">
								<div class="v-align-wrapper height100 width100">
									<div class="v-align ss-icon ss-home"></div>
								</div>							
							</div>
							<div class="text left v-align-wrapper height100">
								<div class="v-align">
									<span>São Paulo/SP - Brasil</span>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
