<article id="hello" data-ng-show="mainController.pageLoaded">
	<div class="middle v-align-wrapper height100">
		<div class="v-align">
			<div class="greetings" ng-class="{'exists': helloController.state.greetings}">
				<div class="name section-title">
					<span>Rafael Violato</span>
				</div>
				<div class="job section-description">
					<span ng-bind="mainController.texts.hello.jobText"></span>
				</div>
			</div>
			<div class="hello-menu" ng-class="{'exists': helloController.state.ellipses}">
				<a href="#/repositories" class="menu-button action-button">
					<div class="ellipse mouse-over">
						<div class="inline-block height100">
							<div class="v-align-wrapper height100">
								<div class="v-align ss-icon ss-flask"></div>
							</div>
						</div>					
					</div>
					<div class="text text-transition" ng-bind="mainController.texts.hello.firstButtonText"></div>
				</a>
				<a href="#/projects" class="menu-button action-button">
					<div class="ellipse mouse-over">
						<div class="inline-block height100">
							<div class="v-align-wrapper height100">
								<div class="v-align ss-icon ss-briefcase"></div>
							</div>
						</div>					
					</div>
					<div class="text text-transition" ng-bind="mainController.texts.hello.secondButtonText"></div>
				</a>
				<a href="#/contact" class="menu-button action-button">
					<div class="ellipse mouse-over">
						<div class="inline-block height100">
							<div class="v-align-wrapper height100">
								<div class="v-align ss-icon ss-chat"></div>
							</div>
						</div>					
					</div>
					<div class="text text-transition" ng-bind="mainController.texts.hello.thirdButtonText"></div>
				</a>
			</div>			
		</div>

	</div>
</article>