@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #bababa;
  text-decoration: none; }

/* SS-STANDARD */
@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

.ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  font-family: "ss-standard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

.ss-cursor:before, .ss-cursor.right:after {
  content: ''; }

.ss-crosshair:before, .ss-crosshair.right:after {
  content: '⌖'; }

.ss-search:before, .ss-search.right:after {
  content: '🔎'; }

.ss-zoomin:before, .ss-zoomin.right:after {
  content: ''; }

.ss-zoomout:before, .ss-zoomout.right:after {
  content: ''; }

.ss-view:before, .ss-view.right:after {
  content: '👀'; }

.ss-attach:before, .ss-attach.right:after {
  content: '📎'; }

.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

.ss-move:before, .ss-move.right:after {
  content: ''; }

.ss-write:before, .ss-write.right:after {
  content: '✎'; }

.ss-writingdisabled:before, .ss-writingdisabled.right:after {
  content: ''; }

.ss-erase:before, .ss-erase.right:after {
  content: '✐'; }

.ss-compose:before, .ss-compose.right:after {
  content: '📝'; }

.ss-lock:before, .ss-lock.right:after {
  content: '🔒'; }

.ss-unlock:before, .ss-unlock.right:after {
  content: '🔓'; }

.ss-key:before, .ss-key.right:after {
  content: '🔑'; }

.ss-backspace:before, .ss-backspace.right:after {
  content: '⌫'; }

.ss-ban:before, .ss-ban.right:after {
  content: '🚫'; }

.ss-trash:before, .ss-trash.right:after {
  content: ''; }

.ss-target:before, .ss-target.right:after {
  content: '◎'; }

.ss-tag:before, .ss-tag.right:after {
  content: ''; }

.ss-bookmark:before, .ss-bookmark.right:after {
  content: '🔖'; }

.ss-flag:before, .ss-flag.right:after {
  content: '⚑'; }

.ss-like:before, .ss-like.right:after {
  content: '👍'; }

.ss-dislike:before, .ss-dislike.right:after {
  content: '👎'; }

.ss-heart:before, .ss-heart.right:after {
  content: '♥'; }

.ss-halfheart:before, .ss-halfheart.right:after {
  content: ''; }

.ss-star:before, .ss-star.right:after {
  content: '⋆'; }

.ss-halfstar:before, .ss-halfstar.right:after {
  content: ''; }

.ss-sample:before, .ss-sample.right:after {
  content: ''; }

.ss-crop:before, .ss-crop.right:after {
  content: ''; }

.ss-layers:before, .ss-layers.right:after {
  content: ''; }

.ss-fill:before, .ss-fill.right:after {
  content: ''; }

.ss-stroke:before, .ss-stroke.right:after {
  content: ''; }

.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

.ss-phonedisabled:before, .ss-phonedisabled.right:after {
  content: ''; }

.ss-rss:before, .ss-rss.right:after {
  content: ''; }

.ss-facetime:before, .ss-facetime.right:after {
  content: ''; }

.ss-reply:before, .ss-reply.right:after {
  content: '↩'; }

.ss-send:before, .ss-send.right:after {
  content: ''; }

.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

.ss-inbox:before, .ss-inbox.right:after {
  content: '📥'; }

.ss-chat:before, .ss-chat.right:after {
  content: '💬'; }

.ss-ellipsischat:before, .ss-ellipsischat.right:after {
  content: ''; }

.ss-ellipsis:before, .ss-ellipsis.right:after {
  content: '…'; }

.ss-user:before, .ss-user.right:after {
  content: '👤'; }

.ss-femaleuser:before, .ss-femaleuser.right:after {
  content: '👧'; }

.ss-users:before, .ss-users.right:after {
  content: '👥'; }

.ss-cart:before, .ss-cart.right:after {
  content: ''; }

.ss-creditcard:before, .ss-creditcard.right:after {
  content: '💳'; }

.ss-dollarsign:before, .ss-dollarsign.right:after {
  content: '💲'; }

.ss-barchart:before, .ss-barchart.right:after {
  content: '📊'; }

.ss-piechart:before, .ss-piechart.right:after {
  content: ''; }

.ss-box:before, .ss-box.right:after {
  content: '📦'; }

.ss-home:before, .ss-home.right:after {
  content: '⌂'; }

.ss-buildings:before, .ss-buildings.right:after {
  content: '🏢'; }

.ss-warehouse:before, .ss-warehouse.right:after {
  content: ''; }

.ss-globe:before, .ss-globe.right:after {
  content: '🌎'; }

.ss-navigate:before, .ss-navigate.right:after {
  content: ''; }

.ss-compass:before, .ss-compass.right:after {
  content: ''; }

.ss-signpost:before, .ss-signpost.right:after {
  content: ''; }

.ss-map:before, .ss-map.right:after {
  content: ''; }

.ss-location:before, .ss-location.right:after {
  content: ''; }

.ss-pin:before, .ss-pin.right:after {
  content: '📍'; }

.ss-database:before, .ss-database.right:after {
  content: ''; }

.ss-hdd:before, .ss-hdd.right:after {
  content: ''; }

.ss-music:before, .ss-music.right:after {
  content: '♫'; }

.ss-mic:before, .ss-mic.right:after {
  content: '🎤'; }

.ss-volume:before, .ss-volume.right:after {
  content: '🔈'; }

.ss-lowvolume:before, .ss-lowvolume.right:after {
  content: '🔉'; }

.ss-highvolume:before, .ss-highvolume.right:after {
  content: '🔊'; }

.ss-airplay:before, .ss-airplay.right:after {
  content: ''; }

.ss-camera:before, .ss-camera.right:after {
  content: '📷'; }

.ss-picture:before, .ss-picture.right:after {
  content: '🌄'; }

.ss-video:before, .ss-video.right:after {
  content: '📹'; }

.ss-play:before, .ss-play.right:after {
  content: '▶'; }

.ss-pause:before, .ss-pause.right:after {
  content: ''; }

.ss-stop:before, .ss-stop.right:after {
  content: '■'; }

.ss-record:before, .ss-record.right:after {
  content: '●'; }

.ss-rewind:before, .ss-rewind.right:after {
  content: '⏪'; }

.ss-fastforward:before, .ss-fastforward.right:after {
  content: '⏩'; }

.ss-skipback:before, .ss-skipback.right:after {
  content: '⏮'; }

.ss-skipforward:before, .ss-skipforward.right:after {
  content: '⏭'; }

.ss-eject:before, .ss-eject.right:after {
  content: '⏏'; }

.ss-repeat:before, .ss-repeat.right:after {
  content: '🔁'; }

.ss-replay:before, .ss-replay.right:after {
  content: '↺'; }

.ss-shuffle:before, .ss-shuffle.right:after {
  content: '🔀'; }

.ss-book:before, .ss-book.right:after {
  content: '📕'; }

.ss-openbook:before, .ss-openbook.right:after {
  content: '📖'; }

.ss-notebook:before, .ss-notebook.right:after {
  content: '📓'; }

.ss-newspaper:before, .ss-newspaper.right:after {
  content: '📰'; }

.ss-grid:before, .ss-grid.right:after {
  content: ''; }

.ss-rows:before, .ss-rows.right:after {
  content: ''; }

.ss-columns:before, .ss-columns.right:after {
  content: ''; }

.ss-thumbnails:before, .ss-thumbnails.right:after {
  content: ''; }

.ss-filter:before, .ss-filter.right:after {
  content: ''; }

.ss-desktop:before, .ss-desktop.right:after {
  content: '💻'; }

.ss-laptop:before, .ss-laptop.right:after {
  content: ''; }

.ss-tablet:before, .ss-tablet.right:after {
  content: ''; }

.ss-cell:before, .ss-cell.right:after {
  content: '📱'; }

.ss-battery:before, .ss-battery.right:after {
  content: '🔋'; }

.ss-highbattery:before, .ss-highbattery.right:after {
  content: ''; }

.ss-mediumbattery:before, .ss-mediumbattery.right:after {
  content: ''; }

.ss-lowbattery:before, .ss-lowbattery.right:after {
  content: ''; }

.ss-emptybattery:before, .ss-emptybattery.right:after {
  content: ''; }

.ss-lightbulb:before, .ss-lightbulb.right:after {
  content: '💡'; }

.ss-downloadcloud:before, .ss-downloadcloud.right:after {
  content: ''; }

.ss-download:before, .ss-download.right:after {
  content: ''; }

.ss-uploadcloud:before, .ss-uploadcloud.right:after {
  content: ''; }

.ss-upload:before, .ss-upload.right:after {
  content: ''; }

.ss-fork:before, .ss-fork.right:after {
  content: ''; }

.ss-merge:before, .ss-merge.right:after {
  content: ''; }

.ss-transfer:before, .ss-transfer.right:after {
  content: '⇆'; }

.ss-refresh:before, .ss-refresh.right:after {
  content: '↻'; }

.ss-sync:before, .ss-sync.right:after {
  content: ''; }

.ss-loading:before, .ss-loading.right:after {
  content: ''; }

.ss-wifi:before, .ss-wifi.right:after {
  content: ''; }

.ss-connection:before, .ss-connection.right:after {
  content: ''; }

.ss-file:before, .ss-file.right:after {
  content: '📄'; }

.ss-folder:before, .ss-folder.right:after {
  content: '📁'; }

.ss-quote:before, .ss-quote.right:after {
  content: '“'; }

.ss-text:before, .ss-text.right:after {
  content: ''; }

.ss-font:before, .ss-font.right:after {
  content: ''; }

.ss-print:before, .ss-print.right:after {
  content: '⎙'; }

.ss-fax:before, .ss-fax.right:after {
  content: '📠'; }

.ss-list:before, .ss-list.right:after {
  content: ''; }

.ss-layout:before, .ss-layout.right:after {
  content: ''; }

.ss-action:before, .ss-action.right:after {
  content: ''; }

.ss-redirect:before, .ss-redirect.right:after {
  content: '↪'; }

.ss-expand:before, .ss-expand.right:after {
  content: '⤢'; }

.ss-contract:before, .ss-contract.right:after {
  content: ''; }

.ss-help:before, .ss-help.right:after {
  content: '❓'; }

.ss-info:before, .ss-info.right:after {
  content: 'ℹ'; }

.ss-alert:before, .ss-alert.right:after {
  content: '⚠'; }

.ss-caution:before, .ss-caution.right:after {
  content: '⛔'; }

.ss-logout:before, .ss-logout.right:after {
  content: ''; }

.ss-plus:before, .ss-plus.right:after {
  content: '+'; }

.ss-hyphen:before, .ss-hyphen.right:after {
  content: '-'; }

.ss-check:before, .ss-check.right:after {
  content: '✓'; }

.ss-delete:before, .ss-delete.right:after {
  content: '␡'; }

.ss-settings:before, .ss-settings.right:after {
  content: '⚙'; }

.ss-dashboard:before, .ss-dashboard.right:after {
  content: ''; }

.ss-notifications:before, .ss-notifications.right:after {
  content: '🔔'; }

.ss-notificationsdisabled:before, .ss-notificationsdisabled.right:after {
  content: '🔕'; }

.ss-clock:before, .ss-clock.right:after {
  content: '⏲'; }

.ss-stopwatch:before, .ss-stopwatch.right:after {
  content: '⏱'; }

.ss-calendar:before, .ss-calendar.right:after {
  content: '📅'; }

.ss-addcalendar:before, .ss-addcalendar.right:after {
  content: ''; }

.ss-removecalendar:before, .ss-removecalendar.right:after {
  content: ''; }

.ss-checkcalendar:before, .ss-checkcalendar.right:after {
  content: ''; }

.ss-deletecalendar:before, .ss-deletecalendar.right:after {
  content: ''; }

.ss-briefcase:before, .ss-briefcase.right:after {
  content: '💼'; }

.ss-cloud:before, .ss-cloud.right:after {
  content: '☁'; }

.ss-droplet:before, .ss-droplet.right:after {
  content: '💧'; }

.ss-flask:before, .ss-flask.right:after {
  content: ''; }

.ss-up:before, .ss-up.right:after {
  content: '⬆'; }

.ss-upright:before, .ss-upright.right:after {
  content: '⬈'; }

.ss-right:before, .ss-right.right:after {
  content: '➡'; }

.ss-downright:before, .ss-downright.right:after {
  content: '⬊'; }

.ss-down:before, .ss-down.right:after {
  content: '⬇'; }

.ss-downleft:before, .ss-downleft.right:after {
  content: '⬋'; }

.ss-left:before, .ss-left.right:after {
  content: '⬅'; }

.ss-upleft:before, .ss-upleft.right:after {
  content: '⬉'; }

.ss-navigateup:before, .ss-navigateup.right:after {
  content: ''; }

.ss-navigateright:before, .ss-navigateright.right:after {
  content: '▻'; }

.ss-navigatedown:before, .ss-navigatedown.right:after {
  content: ''; }

.ss-navigateleft:before, .ss-navigateleft.right:after {
  content: '◅'; }

.ss-directup:before, .ss-directup.right:after {
  content: '▴'; }

.ss-directright:before, .ss-directright.right:after {
  content: '▹'; }

.ss-dropdown:before, .ss-dropdown.right:after {
  content: '▾'; }

.ss-directleft:before, .ss-directleft.right:after {
  content: '◃'; }

.ss-retweet:before, .ss-retweet.right:after {
  content: ''; }

/* Legacy classes */
.ss-volumelow:before, .ss-volumelow.right:after {
  content: '🔉'; }

.ss-volumehigh:before, .ss-volumehigh.right:after {
  content: '🔊'; }

.ss-batteryhigh:before, .ss-batteryhigh.right:after {
  content: ''; }

.ss-batterymedium:before, .ss-batterymedium.right:after {
  content: ''; }

.ss-batterylow:before, .ss-batterylow.right:after {
  content: ''; }

.ss-batteryempty:before, .ss-batteryempty.right:after {
  content: ''; }

.ss-clouddownload:before, .ss-clouddownload.right:after {
  content: ''; }

.ss-cloudupload:before, .ss-cloudupload.right:after {
  content: ''; }

.ss-calendaradd:before, .ss-calendaradd.right:after {
  content: ''; }

.ss-calendarremove:before, .ss-calendarremove.right:after {
  content: ''; }

.ss-calendarcheck:before, .ss-calendarcheck.right:after {
  content: ''; }

.ss-calendardelete:before, .ss-calendardelete.right:after {
  content: ''; }

/* ************************ */
@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.width100 {
  width: 100%; }

.height100 {
  height: 100%; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.v-align-wrapper {
  display: table; }

.v-align {
  display: table-cell;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.inline-list li {
  display: inline-block; }

.relative {
  position: relative; }

.wait {
  cursor: wait !important; }

.middle {
  margin: 0 auto; }

.removing {
  opacity: .6; }
  .removing, .removing * {
    cursor: wait !important; }
  .removing * {
    pointer-events: none !important; }

.input-placeholder:before {
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease; }

.input-placeholder:empty:before {
  content: attr(data-placeholder);
  opacity: 1; }

.action-button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .action-button.press-effect {
    transform: scale3d(1, 1, 1);
    transform-origin: center center;
    transition: all 0.3s ease-out; }
    .action-button.press-effect:active {
      transform: scale3d(0.97, 0.97, 0.97); }

.default-mouse-over {
  transform: translate3d(0px, 0px, 0px);
  transition: opacity 0.35s ease; }
  .default-mouse-over:hover {
    opacity: .75; }
  .default-mouse-over:active {
    opacity: .5; }

.background-contain {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; }

.background-cover {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }

.pre-tag {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */ }

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: #151515;
  color: #bababa;
  font-size: 16px;
  line-height: 20px;
  font-family: "latoregular";
  overflow: hidden; }

.background {
  width: 130%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: -30%;
  opacity: 0;
  background-image: image-url("main_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transition: transform 1.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.225s ease-out;
  /* bug do bg que fica piscando */
  -webkit-transform: translateZ(0) scale(1, 1) rotate(0.0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }
  .background.first-section {
    transform: translate3d(-10%, 0, 0); }
  .background.second-section {
    transform: translate3d(-15%, 0, 0); }
  .background.third-section {
    transform: translate3d(-20%, 0, 0); }
  .background.loaded {
    opacity: .3; }

.tooltip {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  color: white;
  font-size: 14px;
  font-family: "latoregular";
  background-color: #303030;
  border-radius: 5px;
  padding: 3px 8px; }
  .tooltip.ng-hide-remove {
    transition: opacity 0.4s ease-out; }
  .tooltip.ng-hide {
    opacity: 0 !important; }

.languages {
  position: absolute;
  bottom: 4%;
  left: 2%;
  z-index: 800;
  font-family: "ralewaybold";
  font-size: 16px; }
  .languages div {
    display: inline !important; }
  .languages span {
    transition: color 0.3s ease;
    color: #373737; }
    .languages span:hover:not(.current) {
      color: white; }
    .languages span.current {
      color: #bababa; }

.view-title {
  font-size: 30px;
  font-family: "ralewaybold";
  line-height: 1.05em; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.loading-cursor {
  cursor: wait !important; }

p {
  letter-spacing: 0.06em; }

section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transform-origin: center center; }
  section.ng-enter, section.ng-leave {
    transition: transform 1.5s ease, opacity 0.6s ease; }
  section.ng-enter {
    opacity: 0;
    transform: translate3d(5%, 0, 0) scale3d(0.925, 0.925, 0.925); }
  section.ng-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  section.ng-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  section.ng-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) scale3d(0.7, 0.7, 0.7); }

article {
  height: 100%;
  width: 100%;
  transition: opacity 0.2s linear; }
  article .middle {
    width: 920px;
    text-align: center; }
  article.ng-hide {
    opacity: 0; }

.section-title {
  font-size: 60px;
  line-height: 54px;
  font-family: "ralewaybold"; }

.section-description {
  font-size: 32px;
  line-height: 34px;
  font-family: "ralewayregular";
  margin-top: 10px; }

.logo {
  display: block;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  height: 96px;
  width: 96px;
  opacity: .7; }

.avatar {
  display: block;
  background-image: image-url("avatar-quadrado.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.ellipse {
  border: 2px solid #bababa;
  transition: border-color 0.45s ease;
  transform: sacle(1, 1) transform(0, 0, 0); }
  .ellipse .ss-icon {
    color: #bababa;
    transition: color 0.45s ease; }
  .ellipse.mouse-over:hover {
    border-color: white;
    color: white; }
    .ellipse.mouse-over:hover .ss-icon {
      color: white; }

.text-transition {
  transition: color 0.45s ease; }

.menu-header {
  position: absolute;
  z-index: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px; }
  .menu-header .menu {
    position: relative;
    margin-left: 15px; }
  .menu-header .logo-wrapper .logo {
    transition: opacity 0.4s ease-out; }
  .menu-header .logo-wrapper .logo-name {
    transition: color 0.4s ease-out; }
  .menu-header .logo-wrapper:hover .logo {
    opacity: 1; }
  .menu-header .logo-wrapper:hover .logo-name {
    color: white; }
  .menu-header .ellipse.big {
    height: 66px;
    width: 66px;
    border-radius: 66px;
    font-size: 32px; }
  .menu-header .ellipse.medium {
    height: 51px;
    width: 51px;
    border-radius: 51px;
    font-size: 20px; }
  .menu-header .ellipse.small {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    font-size: 15px; }
  .menu-header .middle {
    width: 920px;
    height: 100%; }
  .menu-header .logo-name {
    font-family: "ralewaybold";
    font-size: 32px;
    transition: color 0.45s ease;
    transform: sacle(1, 1) transform(0, 0, 0); }
  .menu-header .menu-button .ss-list {
    padding-top: 5px; }
  .menu-header .menu-button .ss-user {
    font-size: 23px;
    padding-top: 4px; }
  .menu-header .menu-button:hover .ellipse {
    border-color: white; }
  .menu-header .menu-button:hover, .menu-header .menu-button:hover .ss-icon {
    color: white; }
  .menu-header .menu-button:active .ellipse {
    border-color: #bababa; }
  .menu-header .menu-button:active, .menu-header .menu-button:active .ss-icon {
    color: #bababa; }
  .menu-header .menu-trigger {
    position: relative;
    z-index: 500;
    transform: scale(1, 1) translate3d(0, 0, 0); }
    .menu-header .menu-trigger.menu-opened {
      opacity: .3; }
  .menu-header .menu-choices {
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    z-index: 100;
    height: 51px;
    width: 51px;
    transition: transform 0.4s ease-out; }
    .menu-header .menu-choices .choice {
      position: absolute;
      transform: scale3d(1, 1, 1);
      transition: opacity 0.25s ease-out, transform 0.25s ease-out;
      opacity: .85; }
      .menu-header .menu-choices .choice.current-page {
        opacity: 1; }
        .menu-header .menu-choices .choice.current-page .ellipse {
          border-color: white; }
        .menu-header .menu-choices .choice.current-page, .menu-header .menu-choices .choice.current-page .ss-icon {
          color: white; }
      .menu-header .menu-choices .choice.ng-hide {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5); }
    .menu-header .menu-choices.navigation .choice.first-item {
      top: 20px;
      left: -50px;
      transition-delay: .175s; }
      .menu-header .menu-choices.navigation .choice.first-item .ss-icon {
        padding-top: 2.5px; }
    .menu-header .menu-choices.navigation .choice.second-item {
      top: 58px;
      left: -16px;
      transition-delay: .1s; }
      .menu-header .menu-choices.navigation .choice.second-item .ss-icon {
        padding-top: 5px; }
    .menu-header .menu-choices.navigation .choice.third-item {
      top: 57px;
      left: 35px; }
      .menu-header .menu-choices.navigation .choice.third-item .ss-icon {
        padding-top: 4.5px; }
    .menu-header .menu-choices.navigation.ng-hide {
      transform: rotate(160deg); }
    .menu-header .menu-choices.social .choice.first-item {
      top: 20px;
      left: 60px;
      transition-delay: .175s; }
      .menu-header .menu-choices.social .choice.first-item img {
        padding-top: 2.5px; }
    .menu-header .menu-choices.social .choice.second-item {
      top: 58px;
      left: 30px;
      transition-delay: .1s; }
      .menu-header .menu-choices.social .choice.second-item img {
        padding-top: 5px; }
    .menu-header .menu-choices.social .choice.third-item {
      top: 57px;
      left: -20px; }
      .menu-header .menu-choices.social .choice.third-item img {
        padding-top: 4.5px; }
    .menu-header .menu-choices.social.ng-hide {
      transform: rotate(-160deg); }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

#hello .greetings span {
  display: inline-block; }

#hello .greetings .name {
  opacity: 0;
  transform: translate3d(-7px, 0, 0); }

#hello .greetings .job {
  opacity: 0;
  transform: translate3d(-7px, 0, 0); }

#hello .greetings .name, #hello .greetings .job {
  transition: opacity 1s ease, transform 0.8s ease; }

#hello .greetings.exists .name, #hello .greetings.exists .job {
  opacity: 1;
  transform: translate3d(-7px, 0, 0); }

#hello .greetings.exists .job {
  transition-delay: .6s; }

#hello .hello-menu {
  margin-top: 70px;
  width: 100%;
  height: 220px;
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
  transition: opacity 0.7s ease, transform 0.5s ease; }
  #hello .hello-menu .menu-button {
    display: inline-block;
    width: 200px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #hello .hello-menu .menu-button:not(:first-child) {
      margin-left: 35px; }
    #hello .hello-menu .menu-button:nth-child(1) .ss-icon {
      padding-top: 18px; }
    #hello .hello-menu .menu-button:nth-child(2) .ss-icon {
      padding-top: 31px; }
    #hello .hello-menu .menu-button:nth-child(3) .ss-icon {
      padding-top: 20px; }
    #hello .hello-menu .menu-button:hover .text {
      color: white; }
  #hello .hello-menu .ellipse {
    border-width: 5px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    font-size: 90px;
    transition: transform 0.45s ease, border-color 0.45s ease;
    transform: rotate(-5deg); }
  #hello .hello-menu .text {
    font-family: "ralewayregular";
    margin-top: 15px;
    font-size: 22px; }
  #hello .hello-menu.exists {
    opacity: 1;
    transform: translate3d(0px, 0, 0); }
    #hello .hello-menu.exists .ellipse {
      transform: rotate(0deg); }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

#tools .row {
  position: relative;
  width: 100%;
  height: 115px; }
  #tools .row:not(:last-child) {
    margin-bottom: 10px; }

#tools .tools-list {
  margin-top: 40px; }

#tools .tool {
  height: 115px;
  width: 115px;
  border-radius: 115px;
  border-width: 3px;
  display: inline-block;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center center; }
  #tools .tool:not(:first-child) {
    margin-left: 15px; }
  #tools .tool.first {
    background-image: image-url("html5_css3.png");
    background-size: 70% 42%; }
  #tools .tool.second {
    background-image: image-url("angular.png"); }
  #tools .tool.third {
    background-image: image-url("jquery.png"); }
  #tools .tool.fourth {
    background-image: image-url("grunt.png");
    background-size: 50% 75%; }
  #tools .tool.fifth {
    background-image: image-url("bower.png"); }
  #tools .tool.sixth {
    background-image: image-url("yeoman.png"); }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

#contact .form-wrapper {
  position: relative;
  margin: 35px auto 0;
  width: 80%;
  height: 325px; }

#contact .logo {
  background-size: 100%;
  height: 130px;
  width: 130px;
  margin: 0 0 15px 28px; }

#contact .form {
  width: 70%;
  height: 100%;
  text-align: left;
  padding-left: 25px; }
  #contact .form .title {
    font-family: "ralewayregular";
    font-size: 34px; }
  #contact .form .description {
    font-size: 22px;
    margin: 13px 0 20px 0; }
  #contact .form .input-wrapper {
    width: 85%; }
    #contact .form .input-wrapper:not(:last-child) {
      margin-bottom: 2px; }
    #contact .form .input-wrapper input, #contact .form .input-wrapper textarea {
      width: 100%;
      border: 0;
      outline: 0;
      margin: 0;
      padding: 0 0 0 10px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.2s linear;
      color: #bababa;
      font-size: 15px;
      font-family: "latoregular"; }
      #contact .form .input-wrapper input:focus, #contact .form .input-wrapper textarea:focus {
        background-color: rgba(0, 0, 0, 0.65); }
      #contact .form .input-wrapper input::-webkit-input-placeholder, #contact .form .input-wrapper textarea::-webkit-input-placeholder {
        color: #bababa;
        font-size: 15px;
        font-family: "latoregular"; }
      #contact .form .input-wrapper input:-moz-placeholder, #contact .form .input-wrapper textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #bababa;
        font-size: 15px;
        font-family: "latoregular"; }
      #contact .form .input-wrapper input::-moz-placeholder, #contact .form .input-wrapper textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #bababa;
        font-size: 15px;
        font-family: "latoregular"; }
      #contact .form .input-wrapper input:-ms-input-placeholder, #contact .form .input-wrapper textarea:-ms-input-placeholder {
        color: #bababa;
        font-size: 15px;
        font-family: "latoregular"; }
    #contact .form .input-wrapper input {
      height: 30px; }
    #contact .form .input-wrapper textarea {
      height: 150px;
      resize: none;
      padding-top: 7px;
      overflow: auto; }
  #contact .form .lines-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%; }
  #contact .form .button-face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: #bababa;
    padding: 8px 0 0 0;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); }
    #contact .form .button-face:hover {
      background-color: rgba(0, 0, 0, 0.65); }
  #contact .form .line {
    background-color: white;
    position: absolute;
    transition: width 500ms cubic-bezier(0.77, 0, 0.175, 1), height 500ms cubic-bezier(0.77, 0, 0.175, 1); }
    #contact .form .line.right, #contact .form .line.left {
      width: 1px;
      height: 0%; }
    #contact .form .line.top, #contact .form .line.bottom {
      height: 1px;
      width: 0%; }
    #contact .form .line.top {
      left: -1px;
      top: -1px; }
    #contact .form .line.left {
      left: -1px;
      bottom: 0; }
    #contact .form .line.right {
      right: -1px;
      top: 0; }
    #contact .form .line.bottom {
      right: -1px;
      bottom: -1px; }
  #contact .form .send-button {
    position: relative;
    width: 90px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    font-family: Sans-serif;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #bababa;
    border-radius: 2px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #contact .form .send-button:hover .button-face {
      color: white; }
    #contact .form .send-button:hover .line.top, #contact .form .send-button:hover .line.bottom {
      width: 90px; }
    #contact .form .send-button:hover .line.left, #contact .form .send-button:hover .line.right {
      height: 100%; }

#contact .contact-info {
  width: 30%;
  height: 100%; }

#contact .info {
  width: 100%;
  height: 35px; }
  #contact .info .icon {
    width: 35px;
    height: 100%; }
  #contact .info .ss-mail {
    padding-top: 8px; }
  #contact .info .ss-home {
    padding-top: 4px; }
  #contact .info img {
    width: 17.5px;
    height: 17.5px;
    margin-top: 4px; }
  #contact .info .text {
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px);
    text-align: left;
    padding-left: 12.5px;
    height: 100%;
    font-family: "latoregular"; }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

#projects .projects-wrapper {
  position: relative;
  width: 680px;
  height: 150px;
  margin: 25px auto 0;
  transition: height 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: visible; }
  #projects .projects-wrapper.project-opened {
    height: 375px; }

#projects .projects-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
  height: 100%; }

#projects .projects-row {
  position: relative;
  display: block;
  width: 680px;
  height: 100%;
  text-align: center; }
  #projects .projects-row .first {
    left: 0px; }
  #projects .projects-row .second {
    left: 170px; }
  #projects .projects-row .third {
    left: 340px; }
  #projects .projects-row .fourth {
    left: 510px; }

#projects .project {
  position: absolute;
  top: 0;
  z-index: 400;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  height: 100% !important;
  display: inline-block;
  opacity: .7;
  transition: opacity 0.3s ease-out, border-radius 0.75s cubic-bezier(0.77, 0, 0.175, 1), left 0.75s cubic-bezier(0.77, 0, 0.175, 1), transform 0.75s cubic-bezier(0.77, 0, 0.175, 1), width 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
  /* fix do bug da animação das bordas */
  -webkit-transform: translateZ(0); }
  #projects .project .front-image {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 400;
    transition: opacity 0.75s cubic-bezier(0.77, 0, 0.175, 1);
    /* fix do bug da animação das bordas */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
    #projects .project .front-image.ng-hide {
      opacity: 0; }
  #projects .project .opened-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 680px;
    height: 375px;
    background-color: #181818;
    transition: opacity 0.75s cubic-bezier(0.77, 0, 0.175, 1); }
    #projects .project .opened-content.ng-hide {
      opacity: 0; }
  #projects .project .front-image, #projects .project .project-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  #projects .project .project-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100; }
  #projects .project .close-button, #projects .project .visit-website-button {
    position: absolute;
    top: 10px;
    z-index: 800;
    padding-top: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 35px; }
  #projects .project .close-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 20px;
    font-family: "ralewaybold";
    font-size: 17px; }
    #projects .project .close-button span {
      transition: color 0.45s ease; }
  #projects .project .visit-website-button {
    right: 62px;
    text-align: center;
    font-size: 17px; }
  #projects .project .info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    color: white;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0 30px; }
  #projects .project .info-row .title {
    font-size: 24px;
    font-family: "ralewaybold"; }
  #projects .project .info-row .text {
    margin-top: 3px;
    font-size: 16px;
    line-height: 22px; }
  #projects .project .info-row:not(:last-child) {
    margin-bottom: 20px; }
  #projects .project:hover {
    opacity: 1; }
  #projects .project.cachola .front-image {
    background-image: image-url("cachola.jpg"); }
  #projects .project.cachola .project-background {
    opacity: .1;
    background-image: image-url("projectBG_cachola.png"); }
  #projects .project.kanhamus .front-image {
    background-image: image-url("kanhamus.jpg"); }
  #projects .project.kanhamus .project-background {
    opacity: .125;
    background-image: image-url("projectBG_kanhamus.png"); }
  #projects .project.foodmood .front-image {
    background-image: image-url("foodmood.jpg"); }
  #projects .project.foodmood .project-background {
    opacity: .2;
    background-image: image-url("projectBG_foodmood.png"); }
  #projects .project.prospera .front-image {
    background-image: image-url("prospera.jpg"); }
  #projects .project.prospera .project-background {
    opacity: .125;
    background-image: image-url("projectBG_prospera.png"); }
  #projects .project.pagarme .front-image {
    background-image: image-url("pagarme.jpg"); }
  #projects .project.pagarme .project-background {
    opacity: .125;
    background-image: image-url("projectBG_pagarme.png"); }
  #projects .project.clicked {
    border-radius: 2px;
    left: 0;
    opacity: 1 !important; }
  #projects .project.opened {
    width: 680px; }
  #projects .project.ng-hide {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

.repos-wrapper {
  width: 600px;
  position: relative;
  margin: 20px auto 0 auto; }
  .repos-wrapper .repository {
    display: inline-block;
    padding: 4px 12px 7px 12px;
    color: #bababa;
    background-color: rgba(50, 50, 50, 0.85);
    border: 2px solid #bababa;
    border-radius: 6px;
    margin: 10px 0 0 0;
    opacity: 0;
    -webkit-transform: translateZ(0px);
    transform: translate3d(12px, 0, 0); }
    .repos-wrapper .repository span {
      -webkit-transform: translateZ(0px);
      -webkit-font-smoothing: subpixel-antialiased; }
    .repos-wrapper .repository:hover {
      color: #fff;
      border-color: #fff; }
    .repos-wrapper .repository:not(:first-child) {
      margin-left: 10px; }
  .repos-wrapper.repos-arrived .repository {
    opacity: 1;
    transform: translate3d(0, 0, 0); }

@font-face {
  font-family: "latoregular";
  src: font-url("lato-regular-webfont.eot");
  src: font-url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("lato-regular-webfont.woff2") format("woff2"), font-url("lato-regular-webfont.woff") format("woff"), font-url("lato-regular-webfont.ttf") format("truetype"), font-url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewaybold";
  src: font-url("raleway-bold-webfont.eot");
  src: font-url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-bold-webfont.woff2") format("woff2"), font-url("raleway-bold-webfont.woff") format("woff"), font-url("raleway-bold-webfont.ttf") format("truetype"), font-url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ralewayregular";
  src: font-url("raleway-regular-webfont.eot");
  src: font-url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("raleway-regular-webfont.woff2") format("woff2"), font-url("raleway-regular-webfont.woff") format("woff"), font-url("raleway-regular-webfont.ttf") format("truetype"), font-url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ss-standard";
  src: font-url("ss-standard.eot");
  src: font-url("ss-standard.eot?#iefix") format("embedded-opentype"), font-url("ss-standard.woff") format("woff"), font-url("ss-standard.ttf") format("truetype"), font-url("ss-standard.svg#ss-standard") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 1024px) {
  article .middle {
    width: 100%; }
  .menu-header {
    padding: 0 5% 0 3%; }
    .menu-header .middle {
      width: 100%; } }

@media screen and (max-width: 930px) {
  .section-title {
    font-size: 52px; }
  .section-description {
    font-size: 30px;
    margin-top: 0; }
  #hello .hello-menu {
    margin-top: 40px; }
    #hello .hello-menu .menu-button {
      width: 150px; }
    #hello .hello-menu .ellipse {
      width: 150px;
      height: 150px;
      font-size: 70px; } }

@media screen and (max-width: 690px) {
  #contact .logo {
    margin: 0 0 15px 7px;
    height: 110px;
    width: 110px; }
  #contact .info .text {
    font-size: 14px;
    padding-left: 6px; }
  #projects .projects-wrapper {
    width: 520px;
    height: 120px; }
    #projects .projects-wrapper.project-opened {
      height: 300px; }
  #projects .projects-row {
    width: 520px; }
    #projects .projects-row .second {
      left: 130px; }
    #projects .projects-row .third {
      left: 260px; }
    #projects .projects-row .fourth {
      left: 390px; }
  #projects .project {
    height: 120px;
    width: 120px;
    border-radius: 120px; }
    #projects .project .opened-content {
      width: 520px;
      height: 300px; }
    #projects .project .info-row .title {
      font-size: 19px; }
    #projects .project .info-row .text {
      font-size: 13.5px;
      line-height: 18px; }
    #projects .project .info-row:not(:last-child) {
      margin-bottom: 10px; } }

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 44px; }
  .section-description {
    font-size: 25px; }
  #hello .hello-menu {
    margin-top: 30px; }
    #hello .hello-menu .menu-button {
      width: 130px; }
    #hello .hello-menu .ellipse {
      width: 130px;
      height: 130px;
      font-size: 60px; }
  #contact .logo {
    margin: 0 0 15px 0;
    height: 90px;
    width: 90px; }
  #contact .form .title {
    font-size: 28px; }
  #contact .form .description {
    font-size: 18px;
    margin: 7px 0 20px 0; }
  #contact .form .input-wrapper textarea {
    height: 120px; }
  #contact .info .text {
    font-size: 12px;
    padding-left: 0px; } }
